.footer {
    position: relative;
    width: 1300px;
    height: 100px;
    padding: 15px 25px 0 25px;
    margin-top: 15px; 
    cursor: default;
    color:white;
    background-color:darkslategray;
    font-style: italic;
    font-stretch: semi-expanded;
    font-weight: bold;
    font-size: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: justify;
}