.left {
    position: relative;
    width: 380px;
    height: 398px;
    padding: 15px 25px 0 25px;
    margin-top: 15px;
    cursor: default;
    color:white;
    background-color:rgb(121, 189, 189);
    font-style: italic;
    font-stretch: semi-expanded;
    font-weight: bold;
    font-size: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: justify;
}