<input type="text" [(ngModel)]="title_ip" (keyup)="0"/>

<C2-section  [appName]="title_ip">
    
  </C2-section>

<style> 
    .floatoneline 
    {  width: 440px;  
       height: 440px;  
       border: solid 1px #ccc; 
       float: left;  
    } 
    .pageHolder
    { 
    overflow: auto; 
    width: 100%; 
    } 

</style>  

<div >
<C1-header></C1-header>
</div>

<div class="pageholder">
<div class="floatoneline">
<C2-section></C2-section>
</div>

<div class="floatoneline"> 
<C3-section></C3-section>
</div>

<div class="floatoneline">
<C4-section></C4-section>
</div>
</div>

<div >
        <C5-section></C5-section>
        </div>