<!--two way binding
 <input type="text" [(ngModel)]="model_val" (keyup)="0"/>  -->


<!-- Ngfor example
<p *ngFor = "let r of title_ip">
  {{r.App}}
</p> -->

<style> 
    .floatoneline 
    {  width: 440px;  
       height: 440px;  
       border: solid 1px #ccc; 
       float: left; 
       overflow: auto; 
    } 
    .pageHolder
    { 
    overflow: auto; /*used for scroll option*/
    width: 100%; 
    } 

</style>  

<div >
<C1-header></C1-header>
</div>

<div class="pageholder">
<div class="floatoneline">
<C2-section>
 <!-- *ngFor = "let r of title_ip" [appName]=r.App   (@input example with ngfor)-->
</C2-section>
</div>

<div class="floatoneline"> 
<C3-section >
</C3-section>
</div>

<div class="floatoneline">
<C4-section ></C4-section>
<!-- [appName2]= model_val>  two-way binding-->
</div>

<div >
<C5-section >
  
</C5-section>
</div>